<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>dangnhap</display-name>
    <servlet-name>dangnhap</servlet-name>
    <servlet-class>controller.dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhap</servlet-name>
    <url-pattern>/dang-nhap</url-pattern>
  </servlet-mapping>
  <display-name>LTW</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dangnhap1</display-name>
    <servlet-name>dangnhap1</servlet-name>
    <servlet-class>controller.dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhap1</servlet-name>
    <url-pattern>/dangnhap1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logincontrol</display-name>
    <servlet-name>logincontrol</servlet-name>
    <servlet-class>controller.logincontrol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincontrol</servlet-name>
    <url-pattern>/logincontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangnhapL</display-name>
    <servlet-name>dangnhapL</servlet-name>
    <servlet-class>controller.dangnhap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhapL</servlet-name>
    <url-pattern>/dangnhapL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangxuat</display-name>
    <servlet-name>dangxuat</servlet-name>
    <servlet-class>controller.dangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangxuat</servlet-name>
    <url-pattern>/dangxuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangky</display-name>
    <servlet-name>dangky</servlet-name>
    <servlet-class>controller.dangky</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangky</servlet-name>
    <url-pattern>/dangky</url-pattern>
  </servlet-mapping>
</web-app>